<%- include('../includes/header.ejs') %>

</head>

<body>
    <%- include('../includes/nav.ejs') %>

    <% if (products.length) { %>
        <ul>
            <% products.forEach(p => { %>
                <li>
                    <p><%= p.title %> (<%= p.cartProduct.quantity %>)</p>
                    <form action="/cart-delete-item" method="POST">
                        <input type="hidden" name="productId" value="<%= p.id %>">
                        <button class="btn" type="submit">Delete</button>
                    </form>
                </li>
            <% }); %>
        </ul>
        <h1>Total price: $<%= totalPrice %></h1>

        <form action="/create-order" method="POST">
            <button class="btn" type="submit">Order Now</button>
        </form>
    <% } else { %>
        <h1>No Products in Cart</h1>
    <% } %>

<%- include('../includes/footer.ejs') %>